h1{
    text-align: center;
}
h1, h2, h3, h4{
    color: greenyellow;
    font-weight: bolder;
}
body{
    background-image: url(./image/image.bg.jfif);
    background-size: cover;
    font-size: large;
    font-weight: bold;
}
.another-order, .form1-customers, .form1-farmers{
    display: none;
  }
  .another-order, .form3-customers, .form3-farmers{
    display: none;
  }
  .another-order, .form2-customers, .form2-farmers{
      display: none;
  }
  .another-order, .form4-customers, .form4-farmers{
      display: none;
  }
.first {
    font-family: 'Frijole', cursive;
    padding: 15px;
    color: black;
    height: 100px;
    text-align: center;
  }