.another-order, .form1-customers, .form1-farmers{
    display: none;
  }
  .another-order, .form3-customers, .form3-farmers{
    display: none;
  }
.first {
    text-align: center;
    font-family: 'Frijole', cursive;
    padding: 25px;
    color: black;
    height: 150px;
  }